<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header color="warning">
            <ion-card-subtitle>Registro de asistencia</ion-card-subtitle>      
          </ion-card-header>
          <!-- Vista de asistencia -->
           <ion-list>
            <ion-item *ngFor="let asistencia of asistencias"> 
              <ion-label> fecha: {{asistencia.fecha}}</ion-label>
              <ion-badge color="{{asistencia.presente ? 'success' : 'danger'}}" slot="end">
                {{ asistencia.presente ? 'Presente' : 'Ausente'}}
              </ion-badge>
            </ion-item>
           </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 <!-- Botón de retorno -->
 <ion-button class="boton-retorno" color="danger" (click)="goToInicio()">Volver a Inicio</ion-button>
</ion-content>
