<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; justify-content: center; align-items: center; height: 300px;">
    <ion-icon slot="start" name="person-circle-outline" style="font-size: 100px"></ion-icon>
  </div>

  <div id="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100px;">
    <ion-button [routerLink]="['/login']" color="warning">
      <ion-icon name="person-outline"></ion-icon>
      Iniciar Sesión
    </ion-button>
    <br><br>
    <ion-button [routerLink]="['/register']" color="primary" style="margin-top: 10px;">
      <ion-icon name="person-add-outline"></ion-icon>
      Registrarse
    </ion-button>
  </div>
</ion-content>