.titulo {
    font-size: 20px;
    font-weight: bold;
    color: #f7b31d;
}

ion-content {
    --background: #f8f9fa;
    padding: 10px;
  }
  
  .small-card {
    margin: 10px 0; /* Reduce el espacio entre las tarjetas */
  }
  
  ion-card-header h4 {
    font-size: 1.2em; /* Reduce el tamaño de los títulos */
  }
  
  ion-card-subtitle {
    font-size: 0.9em; /* Reduce el tamaño de los subtítulos */
  }
  
  ion-button {
    --padding-start: 8px;
    --padding-end: 8px;
    --height: 36px; /* Reduce el tamaño de los botones */
  }
  
  .titulo {
    font-size: 1.5em; /* Ajusta el tamaño del título del toolbar */
  }
  